* {
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 30px;
    margin: 0 180px;
}

.section{
    display: flex;
    gap: 20px;
}

.text{
    font-size: 40px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin: 40px 500px

}

button{
    height: 50px;
    width: 180px;

}

#result{
    text-align: center;
    font-size: 120px;
}